.jumpotron h1, .jumbotron p, .jumbotron hr, .jumbotron a{
    margin:30px;
}
.jumbotron hr{
    background-color: #fff;
}

div.jumbotron{
    color: #fff;
    text-align: center;
    border-radius: 0;
    background: url('../img/lozko-z-pojemnikiem-veronica-140x200-czarne.jpg') center/cover no-repeat;
}
section{
    padding: 30px;
}